html {
    scroll-behavior: smooth;
}

body {
    /* background-color: purple; */
    /* manggil font-family Lato */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
}

img {
    float: left;
    width: 704px;
    height: 407px;
    background-color: #F1F3FF;
    padding: 5px;
}

h1 {
    color: blue;
}

h3 {
    color: yellow;
}

p.kesatu {
    color: red;
    font-size: 20px;
    font-weight: 800;
}

p.kedua {
    color: orange;
    font-size: 22px;
    font-weight: 850px;
}

p.ketiga {
    color: green;
    font-size: 25px;
    font-weight: 875;
}

p.keempat {
    color: skyblue;
    font-size: 27px;
    font-weight: 900;
}

p.kelima {
    color: palevioletred;
    font-size: 30px;
    font-weight: 925px;
}
